@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; 
  background-color: #FFC0CB; 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: #3e0141; 
  padding: 10px;
}

nav a {
  color: #FFF; 
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

#home-link {
  margin-right: auto; 
}


#cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #800080; 
  color: #FFF; 
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background-color: #800080;
}




#image-section-1 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
max-width: 50%;
margin: auto;
}

svg {
  max-width: 10%; 
  height: auto;
}
