nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #3e0141; 
    padding: 10px;
  }
  
  nav a {
    color: #FFF; 
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  #home-link {
    margin-right: auto; 
  }