body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: pink;
}

.rollsektion {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    max-width: 800px; 
}

.column {
    text-align: center;
}

.column h2 {
    color: #333; 
}

.column ul {
    list-style-type: none;
    padding: 0;
    color: white;
}

.column li {
    margin: 10px 0;
    padding: 10px;
    background-color: #3e0141; 
    border-radius: 5px;
}
